html {
  overflow-y: scroll;
}

.card{
    border: none;
}

.card-title{
    font-family: 'Libre Baskerville', serif;
    color: rgba(45,45,45,0.9333333333333333);
}

.img-thumbnail{
    border: none;

}

.card-text{
    font-family: 'Libre Baskerville', serif;
    color: rgba(45,45,45,0.9333333333333333);
}

.caption1{
    float: left;
}

.caption2{
    float: right;
}

.caption3{
    float: right;
    position: relative;
    bottom: 50px;
}

#caption{
    padding: 0px 4px;
}

small{
    font-family: 'Libre Baskerville', serif;
    color: rgba(112,112,112,0.6588235294117647);

}

.main_img{
    display: block;
    margin: 0 auto;
}

.blog_img {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.blog_img_detail{
    max-height: 600px;
    overflow: hidden;
}

#main_title{
    font-family: 'Libre Baskerville', serif;
    color: rgba(45,45,45,0.9333333333333333);
    text-align: center;
}

#main_title_bg{
    background: linear-gradient(to top right, rgba(255,255,255,1.0),
        rgba(255,255,255,1.0)
        );
    background: white;

}

.text-muted{
    color:rgba(112,112,112,0.5215686274509804) !important;
}

h4.blog_title{
    padding-left: 4px;

}




.blog_img-10 img {
    margin: -10% 0 0 0;
}
.blog_img-30 img {
    margin: -30% 0 0 0;
}
.blog_img-50 img {
    margin: -50% 0 0 0;
}
.blog_img-70 img {
    margin: -70% 0 0 0;
}
.blog_img-90 img {
    margin: -90% 0 0 0;
}


.navbar{
    height:200px;
    padding-right: 0;
    padding-left: 0;
}

.top{
    padding:0;
}

.jumbotron{
    background-color: white;
}

